<!DOCTYPE html>
<html>
<head>
	<title>Google</title>
	<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
	<script src="index.js"></script>
        <div id="mid_content">
            <div class="container">
                <div class="mid_content_info mid_content_space">
                    <h2 id="clean">CLEAN THEME</h2>
                    <p>Ut nec lorem id orci convallis porta. Donec pharetra neque eu velit dictum molestie. Duis porta gravida augue sed viverra. Quisque at nulla leo,
                    non aliquet mi.</p>
                    <a href="#"><img src="images/arrow_right.png" alt="arrow right">Read More</a>
                </div>

                <div class="mid_content_info mid_content_space">
                    <h2 id="responsive">RESPONSIVE DESIGN</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod placerat dui et tincidunt. Sed sollicitudin posuere auctor. Phasellus at
                    ultricies nisl. Integer at leo eros.</p>
                    <a href="#"><img src="images/arrow_right.png" alt="arrow right">Read More</a>
                </div>
                
                <div class="mid_content_info mid_content_space">
                    <h2 id="fully">FULLY LAYERED PSD</h2>
                    <p>Phasellus lobortis metus non augue sodales volutpat. Vestibulum sit amet nibh eros, hendrerit venenatis est. In vitae nulla nec purus cursus
                    pretium sed id magna.</p>
                    <a href="#"><img src="images/arrow_right.png" alt="arrow right">Read More</a>
                </div>

                <div class="mid_content_info">
                    <h2 id="ready">READY FOR CODING</h2>
                    <p>Vivamus convallis feugiat mauris sed posuere. Nam rutrum, quam quis euismod commodo, elit est porta quam, non placerat eros neque porta ante.
                    Fusce quis odio urna.</p>
                    <a href="#"><img src="images/arrow_right.png" alt="arrow right">Read More</a>
                </div>
            </div> <!-- END .container -->
        </div>
        <section id="page"> <!-- Defining the #page section with the section tag -->
            <div>
                <h1>LATEST WORK</h1>
                <img class="latest_work_img" src="image/red_honda.jpg" alt="red_honda">
                <img class="latest_work_img" src="image/sun_roof_honda.jpg" alt="sun_roof_honda">
                <img class="latest_work_img" src="image/white_car.jpg" alt="white_car">
                <img class="latest_work_img" src="image/deepika.jpg" alt="deepika">
                <img class="latest_work_img" src="image/deepika_two.jpg" alt="deepika_two">
            </div>
        </section>
</body>

</html>